{% macro languageDropdown(class="", shortCode=false) %}
  <div class="lang-selector dropdown-custom {{ class }}">
    <a class="lang-selector__current-lang dropdown-custom__title" href="#" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="lang-selector__current-lang__text">
        {% if shortCode %}
          {{ languagesMap[activeLanguage]['display_code'] | upper }}
        {% else %}
          {{ languagesMap[activeLanguage]['name'] }}
        {% endif %}
      </div>
    </a>
    <div class="lang-selector__menu dropdown-custom__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLang">
      <div class="lang-selector__items">
        {% for langCode, langObj in languagesMap %}
          <a class="lang-selector__item dropdown-custom__item{% if activeLanguage == langCode %} dropdown-custom__item--selected{% endif %}"
             href="{{ getUrlTranslated(langCode) }}">
            <img src="{{ image(langObj['icon'])  }}" class="lang-selector__item__icon" alt="">
            <div class="lang-selector__item__text">{{ langObj['name'] }}</div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}
