{% extends "layout.njk" %}

{% block styles %}
  {{ style("home") }}
{% endblock %}

{% block content %}
  <section style="padding-top: 100px">
    <div class="container">
      <div class="timer">
        <div><span id="timer-years"></span> year</div>
        <div><span id="timer-days"></span> days</div>
        <div><span id="timer-hours"></span> hours</div>
        <div><span id="timer-minutes"></span> minutes</div>
        <div><span id="timer-seconds"></span> seconds</div>
      </div>
      <div class="photos">
        {% for i in range(11) %}
          <img class="photo" src="{{ image('photos/photo' + (i + 1) + '.png') }}" alt="">
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {{ script("home") }}
{% endblock %}
